                        /*body*/

body {
    line-height: 1.4em;
    font-family: Helvetica, sans-serif;
}

html {
    font-size: 18px;
}

div {
    display: block;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

                       /*logo*/
.logo {
    background-color: black;
    color: white;
}

.logo .container {
    display: flex;
    max-width: 960px;
}

.logo img {
    height: 1.5rem;
    padding-left: 0.5rem;
    padding-top: 0.33rem;
}

.container span {
    font-size: 1rem;
    padding-top: 0.66rem;
    padding-bottom: 0.66rem;
    padding-left: 1rem;
}

                      /*main*/
.main {
    /*background-image: url("../images/moto.jpeg");*/
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;
}

.story {
    background-color: black;
    color: white;
    width: 20rem;
    padding: 2rem 3rem;
    position: relative;
    top: 9em; 
}

h1, h4 {
    font-weight: bold;
}

h1 {
    font-size: 1.50rem;
    padding-top: 0.25rem;
}

@media only screen and (max-width: 470px) {
    .main {
        height: 15rem;
    }
}

                     /*menu*/
.nav {
    background-color: firebrick;
    color: white;
}

nav {
    background-color: firebrick;
    color: white;
}

nav .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.75rem;
}

.mobile-nav {
    display: none;
}

@media only screen and  (max-width: 1024px) {
    nav ul {
        display: none;
    }

    .mobile-nav {
    display: block;
    text-align: center;
  }
}


                     /*products*/
.products {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 0 0;
}

.product {
    width: 30%;
}

.product-image {
    border: 4px solid black;
    padding: 2em 0;
    height: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product img {
    border-style: none;
    width: 50%;
}

.text {
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    background-color: black;
    color: white;
}

                      /*info*/
.info {
    display: flex;
    justify-content: space-between;
    margin: 3em 0 0 0;
    
}

.info-box {
    width: 35%;
}

.info-box .location {
    display: block;
    background-color: black;
    color: white;
    padding: 1em 2em;
}

.info-box .hour {
    display: block;
    background-color: black;
    color: white;
    padding: 1em 2em;
}

                       /*footer*/
.footer {
    background-color: black;
    color: white;
    padding: 5em 0;
    margin-top: 4em;
}























    
    















    
    

    




